.brand-logo {
    margin-left: 20px;
}

.concordance-table {
    margin-top: 20px;
    /* height: calc(100vh - 200px); /*Adjust height to fit within the viewport */
    overflow-y: auto; /* Add vertical scroll within the table if needed */
}

.context-column {
    width: auto; /* Adjust the width of context columns */
    max-width: 400px;
    white-space: nowrap; /* Prevent words from wrapping */
}

#hover-sidebar-trigger {
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 999; /* Ensure it is above other content */
}

#hover-sidebar {
    position: fixed;
    left: -240px; /* Start hidden */
    top: 0;
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; /* Smooth slide effect */
    z-index: 1000;
}

#hover-sidebar-trigger:hover + #hover-sidebar,
#hover-sidebar:hover {
    left: 0; /* Slide in on hover */
}

#hover-sidebar li {
    list-style: none;
    padding: 10px 20px;
}

#hover-sidebar li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#hover-sidebar li a:hover {
    background-color: #e0e0e0;
}

#hover-sidebar li i.material-icons {
    margin-right: 10px;
}

.kwic {
    width: auto; /* Adjust the width of context columns */
    font-weight: bold;
    color: #2196F3;
}

.results-wrapper {
    direction: rtl;
    overflow: visible; /* Change this to visible to remove scrolling */
    max-height: none; /* Ensure there’s no max height */
}

#results-table {
    direction: rtl;
    table-layout: fixed; /* Ensure the table layout is fixed */
    width: 100%; /* Make sure the table width is 100% */
}

.selected {
    background-color: #e0f7fa;
}

/* Align radio buttons and labels to the left */
.checking-options div label {
    display: inline-block;
    /* margin-right: 10px; /* Add some space between radio buttons */
}

.checking-options div label span {
    margin-right: 5px;
}

.checking-options div label input[type="radio"] {
    vertical-align: middle;
}

.pagination .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.pagination .disabled a {
    color: #bdbdbd;
}

.search-options {
    display: inline-block;
    padding: 3px;
}

.search-options-fieldset {
    border: 2px solid rgba(1, 0, 0, 0.1);
    border-radius: 10px; /* Rounds the corners */
    padding: 2px;
}

.modals-options {
    display: inline;
}

.form-legend{
    font-weight:lighter;
}

hr{
    color: lightgrey;
}

#sort-headers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    direction: rtl;
}
