<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concordance Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue darken-2">
            <a href="#" class="brand-logo">Concordance</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons">person</i></a></li>
                <li><a href="#"><i class="material-icons">help</i></a></li>
                <li><a href="#"><i class="material-icons">settings</i></a></li>
            </ul>
        </div>
    </nav>

    <div id="hover-sidebar-trigger"></div>

    <ul id="hover-sidebar">
        <li><a href="#"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li><a href="#"><i class="material-icons">storage</i>Corpus Selection</a></li>
        <li><a href="#" class="active"><i class="material-icons">find_in_page</i>Concordance</a></li>
        <li><a href="#"><i class="material-icons">list</i>Word Lists</a></li>
        <li><a href="#"><i class="material-icons">insights</i>Statistics</a></li>
    </ul>

    <div class="container concordance-table">
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="search" type="text" class="validate">
                    <label for="search">Search Query</label>
                    <button id="search-btn" class="btn waves-effect waves-light" type="button">Search</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="text-align: right;">
                <div class="options-table">
                    <table>
                        <tr>
                            <td><a href="#" class="option" data-option="1" id="statistics-option"><i class="material-icons small">bar_chart</i></a></td>
                            <td><a href="#" class="option" data-option="2"><i class="material-icons small">filter_list</i></a></td>
                            <td><a href="#" class="option" data-option="3"><i class="material-icons small">visibility</i></a></td>
                            <td><a href="#" class="option" data-option="4" id="download-option"><i class="material-icons small">file_download</i></a></td>
                            <td><a href="#" class="option" data-option="5"><i class="material-icons small">sort</i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="results-wrapper">
            <table class="highlight" id="results-table">
                <tbody>
                </tbody>
            </table>
        </div>
        <ul class="pagination center" id="pagination">
        </ul>
    </div>

    <div id="dynamic-content-modal" class="modal">
        <div class="modal-content">
            <!-- <h4>Dynamic Content</h4> -->
            <div id="dynamic-content">
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="download-modal" class="modal">
        <div class="modal-content">
            <h4>Download Options</h4>
            <p>Select a format to download the results:</p>
            <form id="download-form">
                <p>
                    <label>
                        <input name="format" type="radio" value="txt" checked />
                        <span>TXT</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="format" type="radio" value="csv" />
                        <span>CSV</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <button id="download-btn" class="btn waves-effect waves-light" type="button">Download</button>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
</body>

</html>
